body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    overflow: hidden; /* This prevents scrolling beyond the view. */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.twitter-timeline {
    width: 50vw; /* 50% of the viewport width */
    height: 80vh; /* 80% of the viewport height */
    border: none; /* This removes any default border around the widget. */
}
